<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.llocket.ollama</string>
	<key>UserName</key>
	<string>YOUR_USERNAME</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>OLLAMA_HOST</key>
		<string>0.0.0.0:11437</string>
		<key>OLLAMA_MODELS</key>
		<string>/Users/YOUR_USERNAME/llocket/ollama/models</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/YOUR_USERNAME/llocket/ollama/bin/ollama</string>
		<string>serve</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/YOUR_USERNAME/llocket/ollama</string>
	<key>StandardOutPath</key>
	<string>/Users/YOUR_USERNAME/llocket/ollama/serve.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/YOUR_USERNAME/llocket/ollama/serve.log</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
